@model StudentX.StudentXPortal.Models.ViewModels.CreateQuestionViewModel

@{
    ViewData["Title"] = "Add Question";
}

@section Styles {
    <link rel="stylesheet" href="~/css/theme.css" />
}
<div class="page-container">
    <h2>Add Question to: @ViewBag.SelectedCourseName</h2>

    <form asp-action="CreateQuestion" method="post">

        <!-- Hidden field to preserve the CourseId -->
        <input type="hidden" asp-for="CourseId" />

        <div class="form-group mt-3">
            <label asp-for="QuestionSentence">Soru (İçerik)</label>
            <textarea asp-for="QuestionSentence" class="form-control" rows="4"
                placeholder="Bu kursa ait soruyu yazın..."></textarea>
            <span asp-validation-for="QuestionSentence" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Soruyu Kaydet</button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}